@use "../node_modules/bulma/bulma.scss";
@use "sass:map";

@use "./components/carousel";
@use "./components/navbar";
@use "./components/sidebar";
@use "./components/mixinColor";
@use "./components/songs";
@use "./components/footer";
@use "./components/player";
@use "./components/playlist";


 body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: mixinColor.$light-background;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: mixinColor.$text-color;
  text-decoration: none;
  transition: color 0.3s;
  
  &:hover {
    color: mixinColor.$highlight-color;
  }
}

main {
  position: fixed; 
  top: 120px; 
  left: 400px; 
  width: calc(91.5% - 250px); // Resta el ancho del sidebar
  height: calc(92vh - 60px); // Resta la altura del navbar
  
  
  @include mixinColor.neumorphism(mixinColor.$bg-color, 2.5px);
  padding: 20px;

.main-content {

  height: 100%; // Ocupa toda la altura del main
  overflow-y: auto; // Permite desplazamiento solo interno
  padding: 10px;
  scrollbar-width: none;
  
  .main-content::-webkit-scrollbar {
    display: none; // Oculta la barra en Chrome, Edge y Safari
  }

  .top-bar {
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

}
}