@use "../node_modules/bulma/bulma.scss";
@use "sass:map";

@use "./components/carousel";
@use "./components/navbar";
@use "./components/player";
@use "./components/sidebar";
@use "./components/mixinColor";
@use "./components/songs";
@use "./components/footer";


 body {
  margin: 0;
  padding: 0;
  background-color: mixinColor.$background-color;
  color: mixinColor.$text-color;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: mixinColor.$text-color;
  text-decoration: none;
  transition: color 0.3s;
  
  &:hover {
    color: mixinColor.$highlight-color;
  }
}


.main-content {
  max-width: 1500px;
  margin: auto;
  padding: 1rem;
  
  

  .top-bar {
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .content-section {
    margin-top: 20px;

    .content-box {
      padding: 20px;
      border-radius: 10px;
      @include mixinColor.neumorphism(mixinColor.$light-background, 8px);
    }
  }
}

