$primary-color: #18b6ff;   
$background-color: #121212;    
$light-background: #1e1e1e;
$text-color: #e0e0e0;         
$highlight-color: #18b6ff;     
$shadow-dark: rgba(15, 15, 30, 0.6);  
$shadow-light: rgba(90, 120, 255, 0.2); 
$box-radius: 16px;            
$bg-color: #0d0d0d;           


@mixin neumorphism($color: $light-background, $intensity: 6px, $inset: false) {
  $blur: calc($intensity * 1.5); // Se evita error de cálculo
  $shadow-type: if($inset, inset, ""); // Permite sombras internas opcionales

  background: $color;
  border-radius: $box-radius;
  box-shadow:
    #{$shadow-type} $intensity $intensity $blur $shadow-dark,
    #{$shadow-type} (-$intensity) (-$intensity) $blur $shadow-light;
}
