@use "./mixinColor";

.song-section {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    position: relative;
    margin-left: 30px;

    .title {
        font-size: clamp(1.2rem, 2vw, 1.5rem);
        font-weight: bold;
        color: mixinColor.$primary-color;
        margin-bottom: 30px;
    }

    .song-container {
        display: flex;
        grid-auto-flow: column;
        gap: 75px;
        overflow-x: auto; // Oculta elementos fuera del contenedor
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        width: 100%;
        padding: 10px;
        white-space: nowrap; // Evita que los elementos se ajusten en varias líneas

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .song {
        flex: 0 0 auto;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        scroll-snap-align: center;

        img {
            width: clamp(80px, 20vw, 130px);
            height: clamp(80px, 20vw, 130px);
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 10px;
        }

        p {
            font-size: clamp(0.8rem, 1.2vw, 1rem);
            color: mixinColor.$text-color;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    /* Botones de navegación */
    .carousel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 10;
        transition: background 0.3s;
        @include mixinColor.neumorphism(mixinColor.$light-background, 3px);

        &:hover {
            background: mixinColor.$highlight-color;
            color: #000;
            box-shadow: inset 4px 4px 8px mixinColor.$shadow-dark, inset -4px -4px 8px mixinColor.$shadow-light;
        }

        &:active {
            box-shadow: inset 6px 6px 12px mixinColor.$shadow-dark, inset -6px -6px 12px mixinColor.$shadow-light;
        }
    }

    .song-prev {
        left: 10px;
    }

    .song-next {
        right: 10px;
    }

    /* Responsividad */
    @media (max-width: 768px) {
        .song-container {
            gap: 30px;
            padding: 5px;
        }
    }

    @media (max-width: 480px) {
        .song-container {
            gap: 20px;
        }
    }
}
